body {
    font-family: sans-serif;
}

header {
    background-color: #352da0  ;
    padding: 10px ;
}
header img {
    border: 2px solid #03043a ;

}
header b{
    color: aliceblue;
    font-size:  24px;

}
header a {
    background-color: rgb(151, 167, 185);
    border-radius: 5px ;
    text-decoration: none ;
    color: black ;
    padding: 5px ;
}
body {
    background-color: 	#8687c9 ;

}

main h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
 text-align: center;
 
}
footer p{
    border: 2px solid #050452 ;
}
nav a {
    border: 2px solid #232353 ;
    background-color: rgb(182, 187, 255);
    text-decoration: none ;
    }
    table {
         border: 2px solid #eeeeee ;
    }
    main img {
         border: 2px solid #090520 ;
    }
